     <form style="width:50%" method="POST" action="/event/add">
     <h2> Formularz zapisu kandydatów na szkolenie</h2>
      <label>imie</label><input type="text" name="imie" placeholder="imię" />
  <br />
  <label>nazwisko</label> <input type="text" name="nazwisko" placeholder="nazwisko" />
  <br />
  <label> kurs </label>
  <select type="text" name="kurs" placeholder="wybierz kurs" >
      <option> - wybierz kurs </option>
      <option> HTML </option>
      <option> CSS </option>
      <option> JavaScript </option>
      <option> REACT </option>
  </select> <br />
  <label> lokalizacja </label>
  <select type="text" name="lokalizacja" placeholder="wybierz lokalizację">
    <option> - wybierz lokalizację </option>
      <option> Kraków </option>
      <option> Warszawa </option>
      <option> Wrocław </option>
      <option> Gdańsk </option> 
      </select>  <br />
  <button>Zapisz się na kurs</button><br />
</form>     


 <table style="width:90%">
  <tr>
    <th style="width: 10%">imię</th>
    <th style="width: 10%">nazwisko</th>
    <th style="width: 10%">kurs</th>
    <th style="width: 10%">lokalizacja</th>
    <th style="width: 15%">zapisano</th>
    <th style="width: 15%">zmodyfikowano</th>
    <th style="width: 15%">opcje</th>

  </tr>
  
       {{#each events}}
        <tr>
                    <td>{{imie}}</td>
                    <td>{{nazwisko}}</td>
                    <td>{{kurs}}</td>
                    <td>{{lokalizacja}}</td>

                    <td> <Moment
                          parse="YYYY-MM-DD-T-hh:mm:ss.oooo"
                          format="YYYY-MM-DD HH:mm"
                          utc
                          local> {{zapisano}} </Moment> 
                          </td>
                    <td>{{zmodyfikowano}}</td>
                    <td> <a href="/event/{{_id}}"> modyfikuj </a>
                   <a href="/event/del/{{_id}}"> usuń  </a>  </td>
        </tr>
      {{/each}}
